<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <h3 class="footer-title">Basile Blog</h3>
        <p class="footer-description">Un blog pour partager mes pensées, idées, et histoires.</p>
      </div>
      
      <div class="footer-section">
        <h4 class="footer-subtitle">Lien Rapides</h4>
        <ul class="footer-links">
          <li><a href="/">Accueil</a></li>
          <li><a href="/about">A propos</a></li>
          <li><a href="/blogs">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h4 class="footer-subtitle">Me Contacter</h4>
        <div class="social-links">
          <!-- <a href="#" class="social-link">Twitter</a> -->
          <a href="https://www.linkedin.com/in/basile-atsougan/" class="social-link">LinkedIn</a>
          <a href="https://github.com/basileatsougan" class="social-link">GitHub</a>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p class="copyright">&copy; {{ currentYear }} Basile Blog. Tous droits réservés.</p>
    </div>
  </div>
</footer>
