<div class="about-page">
  <div class="about-hero">
    <h1 class="about-title">A propos de moi</h1>
    <p class="about-subtitle">Découvrez mon parcours et mes passions</p>
  </div>

  <app-content-section 
    title="Mon Histoire" 
    content="Depuis toujours, j’ai les yeux brillants devant un écran ou un livre de physique. Chaque invention, chaque découverte, déclenche en moi une curiosité insatiable. J’aime démonter, comprendre, puis reconstruire — parfois mieux, parfois différemment. La technologie et la science ne sont pas seulement des domaines d’étude pour moi : ce sont des clés qui ouvrent des portes vers des mondes nouveaux, où chaque problème devient une énigme à résoudre, et chaque solution, une victoire sur l’inconnu.">
  </app-content-section>

  <app-content-section 
    title="Ma Mission" 
    content="Ma mission est de partager mon expertise et mes découvertes scientifiques, d’éveiller l’imagination et d’aider les autres à explorer le monde de la technologie et des sciences. Je souhaite qu’il soit accès à tous, n’importe où, qu’il ait accès à la connaissance. C’est donc de cette manière que je veux partager le savoir.">
  </app-content-section>

  <app-content-section 
    title="Mes Valeurs" 
    content="Je crois en la curiosité, car elle me pousse à chercher plus loin que ce qui est visible. Je crois en la persévérance, car les obstacles ne sont pas des murs, mais des marches vers l’avant.Je crois en le partage, car la connaissance n’a de sens que si elle circule.Et je crois en l’honnêteté, parce qu’elle donne du poids à chaque parole et du sens à chaque action. Ce sont ces valeurs qui guident mes choix, mes projets, et la manière dont je veux avancer.">
  </app-content-section>
</div>
