<app-hero></app-hero>

<app-content-section 
  title="Découvre l'actualité Tech" 
  content="Chaque semaine, je vous partage les dernières actualités technologiques, des nouveautés en matière de logiciels, hardware, et bien plus encore. Chaque article est conçu pour vous informer et vous éclairer sur les dernières avancées dans le monde de l'informatique.">
</app-content-section>

<section class="blog-section">
  <div class="blog-container">
    <h2 class="blog-section-title">Articles De Blog A La Une</h2>
    <div class="blog-grid">
      <app-blog-card 
        *ngFor="let post of blogPosts" 
        [blogPost]="post">
      </app-blog-card>
    </div>
  </div>
</section>
